*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    background-image: url(../beautiful-blooming-bouquet-1083822.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: sticky;
}

ul{
    float: right;
    display: inline-block;
}

ul a{
    font-size: 16px;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    color: darkgrey;
    margin-right: -5px;
    padding: 20px;
    transition: 0.6s ease-in-out;
}

ul a:hover{
    background-color: #da5c5c;
    color: #000;
}

.foto{
    display: flex;
    flex-wrap: wrap;
}

.foto img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border-radius: 100px;
}

.main h1{
    font-size: 45px;
    flex: 30%;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 58%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #fff;
}

.main h5{
    font-size: 24px;
    flex: 30%;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    top: 65%;
    left: 50%;
    text-align: right;
    transform: translate(-50%,-40%);
    color: #fff;
}

.contact{
    padding: 30px;
    background-color: rgba(223, 52, 103, 0.418);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    font-size: 25px;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: 'Lobster Two', cursive;
}

.quote{
    padding: 30px;
    position: absolute;
    background-color: rgba(223, 52, 103, 0.418);
    top: 50%;
    left: 50%;
    font-size: 32px;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: 'Satisfy', cursive;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px){
    .foto img{
        position: absolute;
        top: 38%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
    .main h1{
        position: absolute;
        top: 58%;
        left: 50%;
        font-size: 30px;
    }
}

@media screen and (max-width: 900px){
    .main h5{
        position: absolute;
        top: 69%;
        left: 50%;
        font-size: 16px;
    }
}
